@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    margin: 0;
    background-color: #bbbbbb;
    font-family: "Poppins", sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}
